.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0px 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 25px;
}

.toggleText {
    cursor: pointer;
    color: var(--color-primary);
}

.cardWrapper {
    margin: 18px;
}
